{% load static %}
<a class="product-item" href="{% url 'event' pk=event.id %}">
  {% if event.display_picture %}
    <img src="{{ event.display_picture.url }}" class="img-fluid product-thumbnail" />
  {% else %}
    <img src="{% static src %}" class="img-fluid product-thumbnail" />
  {% endif %}
  <h3 class="product-title">{{ event.title }}</h3>
  <h6>{{ event.category }}</h6>
  <strong class="product-price">By - {{ event.organizer }}</strong>

  <span class="icon-cross"><img src="{% static 'images/chevron-right.svg' %}" class="img-fluid" /></span>
</a>
