{% load static %}
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">EventBoost<span>.</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
      <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item {% if request.path == '/events/' %}active{% endif %}">
          <a class="nav-link" href="{% url 'events' %}">Events</a>
        </li>
        <li>
          <a class="nav-link" href="about.html">About us</a>
        </li>
        <li>
          <a class="nav-link" href="services.html">Services</a>
        </li>
        <li>
          <a class="nav-link" href="blog.html">Blog</a>
        </li>
        <li>
          <a class="nav-link" href="contact.html">Contact us</a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% endif %}
      </ul>

      <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
        <li>
          <a class="nav-link"
            href="
            {% if not user.is_authenticated %}
              {% url 'login' %}
            {% else %}
              {% if user.account.is_organizer %}
                {% url 'manage_events' %}
              {% else %}
                {% url 'manage_sponsorships' %}
              {% endif %}
            {% endif %}
            ">
            <img src="{% static 'images/user.svg' %}" />
          </a>
        </li>
        {% comment %} <li>
          <a class="nav-link" href="cart.html"><img src="{% static 'images/cart.svg' %}" /></a>
        </li> {% endcomment %}
      </ul>
    </div>
  </div>
</nav>
