{% extends "base.html" %}

{% block content %}
<div class="container">
    <a href="{% url 'manage_events' %}">Go back</a>
    <div class="row">
        <div class="col">
            <form action="{% url 'edit_event' pk=event.id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-4">
                        <label for={{ field.name }} class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %} 
                <button class="btn btn-dark" type="submit">Edit</button>
            </form>
        </div>
        <div class="col">
            <div class="row mb-2">
                {% for tier in event.sponsorship_tier.all  %}
                    <div class="col">
                        {{ tier.name }} - {{ tier.price }}
                        <p>{{ tier.benefits }}</p>
                        <a class="btn btn-dark" href="{% url 'edit_tier' pk=event.id tier_pk=tier.id %}">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal-{{ tier.id }}">Delete Tier</button>
                        <!-- Modal -->
                        <div class="modal fade" id="delete-modal-{{ tier.id }}" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="delete-modal-label">Modal title</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Once you delete your event tier, you will have to refund the event sponsorers.
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <a class="btn btn-danger" href="{% url 'delete_tier' pk=tier.event.id tier_pk=tier.id %}">Delete event tier</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <a class="btn btn-dark" href="{% url 'add_tier' pk=event.id %}">Add Sponsorship Tier</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}