{% extends 'base.html' %}

{% block content %}
  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Events</h1>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <form class="mb-5" method="get" action="{% url 'events' %}">
        <div class="d-flex mb-3">
          <div class="form-group me-5">
            <label for="form-label">Filter By: Category</label>
            <select class="form-control" name="category" id="filter">
              <option value="">--------</option>
              <option value="conference">conference</option>
              <option value="workshop">workshop</option>
              <option value="webinar">webinar</option>
              <option value="networking">networking</option>
              <option value="hackathon">hackathon</option>
              <option value="sports">sports</option>
              <option value="music">music</option>
              <option value="art">art</option>
            </select>
          </div>
          <div class="form-group">
            <label for="form-label">Order By</label>
            <select class="form-control" name="sort_by" id="sort_by">
              <option value="">--------</option>
              <option value="start_date">Start Date</option>
              <option value="end_date">End Date</option>
              <option value="sponsorship_deadline">Sponsorship Deadline</option>
            </select>
          </div>
        </div>
        <input class="btn btn-primary" type="submit" name="submit" value="submit" />
      </form>
      <div class="row">
        {% for event in events %}
          <!-- Start Column -->
          <div class="col-12 col-md-4 col-lg-3 mb-5">
            {% url 'event' pk=event.id as event_url %}
            {% include 'components/event.html' with event=event src='https://picsum.photos/400/300' %}
          </div>
          <!-- End Column -->
        {% endfor %}

        <div class="d-flex justify-content-center my-4">
          {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary me-2" href="?page=1">&laquo; First</a>
            <a class="btn btn-outline-primary me-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="mx-3 align-self-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

          {% if page_obj.has_next %}
            <a class="btn btn-outline-primary ms-2" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-primary ms-2" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
