{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <a href="{% url 'events' %}">Go back</a>
    <div class="row mb-5">
      <div class="col-lg-5 order-2 order-lg-1">
        {% if event.display_picture %}
          <img class="img-fluid w-100" src="{{ event.display_picture.url }}" alt="Event Image" />
        {% else %}
          <img class="img-fluid w-100" src="https://picsum.photos/500/350" alt="event image" />
        {% endif %}
      </div>
      <div class="col-lg-7 order-1 order-lg-2">
        <h3 class="section-title">{{ event.title }}</h3>
        <div>Category - {{ event.category }}</div>
        <div>Organizer - {{ event.organizer }}</div>
        <div>Start Date - {{ event.start_date }}</div>
        <div>End Date - {{ event.end_date }}</div>
        <div>Sponsorship Deadline - {{ event.sponsorship_deadline }}</div>
        <div>Expected Attendees - {{ event.expected_attendee_count }}</div>
        <p>{{ event.description }}</p>
        {% if event.brochure %}
          <h4>Download Event Brochure</h4>
          <div>
            Download - <a href="{{ event.brochure.url }}" target="_blank">Link</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% if event.sponsorship_tier.all %}
        <h4 class="section-title mb-4">Sponsorship Tiers</h4>
        {% for tier in event.sponsorship_tier.all %}
          <div class="col-6">
            <h5 class="section-title">{{ tier.name }}</h5>
            <div>Sponsorship Price -{{ tier.price }}</div>
            <p>{{ tier.benefits }}</p>
            {% if tier.sponsorship_set.all %}
              <button class="btn btn-dark" disabled>Sponsored</button>
            {% elif user.account.is_sponsor %}
              <a href="{% url 'sponsor_event' pk=event.id tier_pk=tier.id %}" class="btn btn-dark">Sponsor</a>
            {% else %}
              <div>Please Log in with sponsor account to sponsor events</div>
            {% endif %}
          </div>
        {% endfor %}
      {% else %}
        <div>Wait for the organizer to publish the sponsorship tiers</div>
      {% endif %}
    </div>
  </div>
{% endblock %}
